
config dnsproxy 'global'
	option listen_port '5334'
	option enabled '1'
	option ipv6_disabled '1'
	option listen_addr '127.0.0.1'
	option all_servers '1'

config dnsproxy 'bogus_nxdomain'

config dnsproxy 'cache'
	option enabled '0'
	option cache_optimistic '0'
	option size '65535'

config dnsproxy 'dns64'
	option enabled '0'
	option dns64_prefix '64:ff9b::'

config dnsproxy 'edns'
	option enabled '0'

config dnsproxy 'servers'
	list bootstrap '8.8.8.8'
	list bootstrap '8.8.4.4'
	list upstream 'https://dns.google/dns-query'

